page-login {
.BgImage{
    background-image :url('../../assets/imgs/9634.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 375px 450px;
    background-color: #fff;
}
}
