<ion-content class="main-view">
  <div class="overlay" (click)="dismiss()"></div>
  <div class="modal_content">
    <h2>Welcome to Ionic!</h2>
    <form [formGroup]="itemData" (ngSubmit)="logForm()">
      <ion-searchbar class="ionSerch" formControlName="Symbol" [(ngModel)]="itemData.value.Symbol" (ionInput)="setFilteredItems()"></ion-searchbar>
      <ion-list *ngIf="showList" class="ListTag">
        <ion-item *ngFor="let item of items" (click)="itemTapped(item.SYMBOL)">
          {{ item.SYMBOL }}
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="text" formControlName="description" ></ion-input>
        </ion-item>
        <ion-grid class="TopM">
          <ion-row>
            <ion-col>
              <button ion-button full color="danger" type="reset">Clear</button>
            </ion-col>
            <ion-col>
              <button ion-button full color="secondary" type="submit" [disabled]="!itemData.valid">Submit</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </form>
  </div>
</ion-content>