page-home {
    
    .BgImage{
        background-image :url('../../assets/imgs/9634.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 375px 450px;
        background-color: #fff;
    //    opacity: 0.2;
    }
 .Bg{
        z-index: -1;
        position: relative;
    }
    .borderLeft{
        border-left: 1px solid gray;
        padding-left: 12px;
    }
    .FontStyle{
        font-family:'Oswalds';
        font-family: Oswalds;
        font-size: 16px;
        font-weight: 300;
    }
    .Mtop{
        margin-top: -19px !important;
    }
}
